/* 
____________________________________________
____________________________________________
____________________________________________
CONTAINER TECH */
.container--tech {
	margin-top: 50px;
}
#remont-tehniki .swiper-slide {
	height: 160px;
	background-position: 90% 85%;
	font-size: 16px;
	padding: 16px;
}
#remont-tehniki .swiper-slide__content {
	align-self: flex-start;
	width: 100%;
	height: 100%;
}
