:root {
  --white: #ffffff;
  --white2: #F8F8F8;
  --whiteGray: #eaeaea;
  --grayRgba: rgba(126, 126, 130, 1);
  --gray: #7e7e82;
  --lightGray: #B5B6BC;
  --cian: #b8ffec;
  --cian2: #41f6d7;
  --cian3: #d9fff5;
  --pink: #ff3e79;
  --black: #42424287;
  --darkBlack: #1b1c21;
  --blur:  rgba(255, 255, 255, 0.96);
}
