@use '/src/scss/base/__fonts' ;
@use '/src/scss/base/__variables' ;
@use '/src/scss/components/__normalized' ;
@use '/src/scss/components/__headerMobile' ;
@use '/src/scss/components/__mainMobile' ;
@use '/src/scss/components/__headerMainLargerSize' ;
@use '/src/scss/components/__containerBrands' ;
@use '/src/scss/components/__containerTech' ;
@use '/src/scss/components/__containerPrice' ;
@use '/src/scss/components/__aside' ;
@use '/src/scss/components/_modalInteractive' ;



